
<main class="main">
  <h1>Welcome to my full stack app!</h1>
    <div class="card">
      <div class="card">
        <ng-container *ngIf="image(); else fallback">
          <img
            [src]="image()"
            alt="Logo"
            (error)="onImgError()" />
        </ng-container>
        
        <ng-template #fallback>
          <span class="icon-style">👋</span>
        </ng-template>
      </div>
      
      <div class='card'>
        <p>I'm Andrew Aromin and I'm a Senior Full Stack Software Engineer</p>
        <p>
          I built this app using Angular, Java SpringBoot, Nginx, and Docker
        </p>
        <p>Check out my <a href="https://www.linkedin.com/in/andrew-aromin" target="_blank" rel="noopener noreferrer">
          Linkedin</a> | <a href="https://github.com/andrew-aromin/portfolio-angular" target="_blank" rel="noopener noreferrer">
          Github</a>
        </p>
      </div>
    </div>
</main>


<router-outlet />
